:root {
  --background-color: #211e3d;
  --margin-background: #aaa3d9;
  --softPink: #e890d1;
  --shadowPink: #99618a;
  --purpleDarker: #7c78e0;
  --softTextColor: #eedcb6;
  --darkTextColor: #171131;
  --inputBackground: rgb(239, 224, 246);
  --inputBackgroundHover: rgb(235, 196, 255);
  --redError: #de1047;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

#Main-login {
  position: relative;
  margin: auto;
  width: 50em;
  height: 95vh;
  background: var(--margin-background);
  overflow: hidden;
  border-radius: 1em;
  display: block;

  img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    transition: left 0.6s ease-out;
  }
}

#form-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  display: flex;
}

#Main-login.swap #form-container {
  left: 50%;
}

#Main-login.swap img {
  left: 0;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;

  div {
    display: flex;
    border: none;
    justify-content: space-between;
    margin: 0.5em;
    background-color: var(--inputBackground);
    border-style: solid;
    border-radius: 0.5em;
    width: 90%;
    padding: 1em;
    transition: 0.5s;
  }

  div:hover {
    background-color: var(--inputBackgroundHover);
    border: none;
    scale: 1.05;
    transition: 0.5s;
  }

  legend {
    text-align: center;
    font-size: 1.75em;
    font-weight: bold;
    font-family: "Rubik Iso";
    color: var(--darkTextColor);
  }

  label {
    font-family: "Jersey 10";
    text-align: center;
    font-size: 1.2em;
    color: var(--darkTextColor);
    width: 20%;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"],
  select {
    padding: 0.5em;
    text-align: center;
    border-radius: 0.5em;
    border: none;
    width: 60%;
    font-size: 1.25em;
    font-family: "Jersey 10";
    background-color: var(--softTextColor);
    transition: 0.5s;
  }

  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="number"]:focus,
   select:focus {
    background-color: var(--margin-background);
    color: var(--darkTextColor);
    box-shadow: 0.25em 0.25em 0.3em;
    scale: 1.05;
    border-radius: 1em;
    transition: 0.5s;
  }
}

#login-form {
  display: flex;
}

#createAccount-form {
  display: none;
}

.ErrorMessage {
  display: none;
  text-align: center;
  font-size: 1em;
  margin: 0;
  margin-bottom: 0;
  color: var(--redError);
  font-weight: bold;
}

.switchButton {
  margin: 1em;
  border: none;
  background-color: var(--shadowPink);
  border-radius: 0.75em;
  width: 15em;
  padding: 0;
  cursor: pointer;

  span {
    display: block;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: var(--softPink);
    transform: translateY(-0.5em);
    font-family: "Jersey 10";
    font-size: 1.5em;
  }
}

.switchButton:active span {
  transform: translateY(-0.1em);
}

input[type="submit"] {
  text-align: center;
  font-family: "Tiny5";
  width: 50%;
  margin-top: 1em;
  height: 2em;
  border-radius: 0.5em;
  font-size: 1.3em;
  border: none;
  background-color: var(--purpleDarker);
  color: var(--softTextColor);
  font-weight: bold;
  box-shadow: 0.2em 0.2em 0.1em;
  transition: 0.5s;
}

input[type="submit"]:hover {
  scale: 1.2;
  width: 80%;
  background-color: var(--softTextColor);
  color: var(--purpleDarker);
  box-shadow: 0.2em 0.2em 0.1em;
  transition: 0.5s;
}

.resetButton{
  text-align: center;
  font-family: "Tiny5";
  width: 30%;
  height: 2em;
  border-radius: 0.5em;
  font-size: 1.3em;
  border: none;
  background-color: var(--purpleDarker);
  color: var(--softTextColor);
  font-weight: bold;
  box-shadow: 0.2em 0.2em 0.1em;
  transition: 0.5s;
}

.resetButton:hover{
  scale: 1.2;
  width: 30%;
  background-color: var(--softTextColor);
  color: var(--purpleDarker);
  box-shadow: 0.2em 0.2em 0.1em;
  transition: 0.5s;
}