:root {
  --darkRedPokeball: #bd005b;
  --middleRedPokeball: #c92f2f;
  --ReallyDarkRed: #691a1b;
  --whitePokeball: #e5f9ff;
  --highlightPokeball: #fa6c00;
  --pokemonCardBackground: rgb(233, 247, 240);
  --pokemonFilterTitle: #421212;
  --abDivColor: #cff4e6;
  --moveDivColor: #cfedf4;
  --abilityName: #074e5d;
  --inputBackgroundFocus: #66d0e2;
  --pokemonContainerBackground: rgb(252, 244, 234);

  --backgroundPurple: #221d26;

  --darkPurple: #31263d;

  --lightTextColor: #defdd1;
  --backgroundColor: #ece0e0;
  --pokemonInfoBackground: #f7cccc;
  --textColor: rgb(48, 29, 34);
  --mainTextColor: #400b0d;

  --pokemonCardHighlightColor: #d5f0de;
  --editTeamButtonColor: #91ebcc;
  --editTeamButtonColorHover: #b5ecd9;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--backgroundColor);
}

#PokemonInfo {
  width: 80%;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 1em;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 1em 1em rgba(0, 0, 0, 0.2);
  background-color: var(--pokemonInfoBackground);
}

#mainHeaderInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.2em solid var(--mainTextColor);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

#imageAndName {
  display: flex;
  align-items: center;

  img {
    width: 12em;
    margin-right: 3em;
  }

  h2 {
    font-family: "Jersey 10";
    font-size: 2.5em;
    font-weight: lighter;
    letter-spacing: 0.1em;
    color: var(--mainTextColor);
  }

  #nameAndType {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .type {
      margin: 0;
      margin-bottom: 0.5em;
      width: 5em;
      text-align: center;
      font-size: 1.25em;
      border-radius: 0.2em;
      padding: 0.2em;
    }
  }
}

#stats {
  list-style: none;
  margin-right: 2em;
  text-align: left;
}

#stats li {
  font-family: "Jersey 10";
  font-size: 1.25em;
  font-weight: lighter;
}

#OtherInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Abilities and Moves sections styling */
#Abilities,
#Moves {
  flex: 1;
  list-style: none;
}

.abDiv {
  background-color: var(--abDivColor);
  border-radius: 0.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  width: 100%;
  padding-top: 0.5em;

  .abName {
    font-family: "Rubik Iso";
    color: var(--abilityName);
    margin: 0;
  }

  .abEffect {
    text-align: center;
    font-family: "Jersey 10";
    font-size: 1.25em;
    margin-top: 0.5em;
  }
}

.move{
  background-color: var(--moveDivColor);
  border-radius: 0.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  font-family: "Jersey 10";
  font-size: 1.75em;
  padding: 0.2em;
}