body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

header a img {
  width: 10em;
}

#titleHomepage {
  margin-left: 1em;
  font-size: 1.5em;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a {
  margin-left: 1em;
  text-decoration: none;
  font-size: 1em;
}

main {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.5em;
  width: 95%;
}

#pokemonContainer {
  display: flex;
  flex: 3;
  flex-direction: column;
  border-style: solid;
  border-radius: 0.5em;
  padding: 0.5em;
  align-items: center;
}

#filters {
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    margin: 0;
    border-style: solid;
    border-radius: 0.5em;
    margin: 0.5em;
    display: flex;
    flex-direction: column;
    padding: 0.3em;
    text-align: center;
  }
}

#pokemonCardContainer {
    background-color: antiquewhite;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 45vh;
    overflow-y: auto;
    width: 95%;
    justify-content: center;
    align-items: center;
}

.pokemonCard{
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-radius: 1em;
    height: 80%;
    width: fit-content;
    padding: 0.5em;
    margin: 1em;

    img{
        margin: 0;
    }
}

#teamContainer {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  flex: 1;
  width: fit-content;
  
}

#dragPokemonContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    padding: 0;
    justify-items: center;
    align-items: center;

    div{
        border-style: solid;
        border-radius: 1em;
        width: 90%;
        height: 7em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}